body{
    background: url('imgs/imglover.jpg');
    margin: 20px;
    padding: 0px;
    margin: 0 auto;
    background-size: cover;
}

#lover{
    background: url('imgs/tsf.jpg');
    background-size: cover;
    margin: 20px;
    padding: 10px;
    margin: 0 auto;
}

header{
    background-color:#aec0fc;
    /*background-color: #0b4462;*/
    background-size: cover;
    text-align: center;
    margin: 9px;
    font-size: 30px;
}

a{
    color: white;
    text-decoration: none;
}

.enlaces{
    display: inline;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color:white;
}

nav{
    background-color:	#dec0fc;
    padding: 13px;
}

h1{
    font-family: 'Londrina Shadow', cursive;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

#contenido_lover{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    margin: 9px;
    margin-top: 20px;
    border-radius: 10px;
}

#imagen{
    width: 190px;
    height:190px;
    float: right;
    margin-left: 20px;
    border-radius: 10px;
}

p{
    color: #aec0fc;
    text-align: justify;
    font-size: 24px;
    margin: 40px;
}

.enlaces:hover{
    color:#aec0fc;
}

h2{
    color: #aec0fc;
    text-align: center;
}

#canciones{
    margin: 10px;
    font-size: 20px;
}



#lista{
    margin: 10px;
}

iframe{
width: 560px;
height: 315px;
margin: 9px;
max-width: 660px;
max-height: 415px;
min-width: 160px;
min-height: 15px;
}

#VDO{
    background-color: #dec0fc;
    padding: 10px;
    margin: 9px;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}
@media(max-width: 600px) {
    iframe{
        width: 360px;
        height: 215px;
    }
}



